* {
    margin: 0;
    font-family: "Roboto";
    }

    :root {
        --white: #FFFFFF; 
        --black: #000000;
        --graphite: #2E2E2E;
        --whitesmoke: #F9F9F9; 
        --sm: 18px;
        --md: 24px;
        --lg: 30px;
        --logo: 36px;
        --title: 48px;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav__desktop{
        display: none;
    }

    .logo {
        width: 126px;
        height: 27px;
        transform: translateY(-300px);
        font-style: normal;
        font-weight: 900;
        font-size: var(--logo);
        line-height: 42px;
        letter-spacing: -0.02em;
        color: var(--white);
    }

    .nav__menu {
        display: none;
    }

    .button_menu {
        display: none;
    }

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner__tittle {
        width: 305px;
        height: 135px;
        transform: translateY(-235px);
        font-style: normal;
        font-weight: 900;
        Font-size: var(--title);
        line-height: 45px;
        letter-spacing: 0.005em;
        color: var(--graphite);
    }

    .banner_text {
        display: none;
    }

    .banner__mobile1 {
        width: 155px;
        height: 323px;
        transform: translateY(-180px);
        background: url(mobile1.png);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner_button {
        display: none;
    }

    .banner__text2 {
        display: none;
    }

    .logos {
        transform: translateY(-180px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logos1 {
        width: 367px;
        height: 181px;
        top: 335px;
        left: 813px;
        background: url(logos1.png);
    }

    .logos2 {
        width: 367px;
        height: 181px;
        top: 508px;
        left: 813px;
        background: url(logos2.png);
    } 

    .logos__inline {
        display: none;
    }
    

    @media (min-width: 414px) {
        
        .header {
            display: flex;
        }
    
        .nav {
            display: flex;
        }
        
        .nav__mobile {
            display: none
        }

        .nav__desktop{
            display: block;
            width: 140%;
        }
    
        .logo {
            width: 89px;
            height: 27px;
            transform: translateY(-470px);
            font-style: normal;
            font-weight: 900s;
            font-size: var(--md);
            line-height: 28px;
            position: relative;
            left: -50%;
            letter-spacing: -0.02em;
            color: var(--white);
        }
    
        .nav__menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            transform: translateY(-490px);
            width: -100px;
            height: 27px;
            font-size: var(--sm);
            color: var(--white);
            position: relative;
            left: 7%;
        }

        .nav__manu--1 {
            width: 170px
        }

        .nav__manu--2 {
            width: 170px
        }

        .nav__manu--3 {
            width: 170px
        }

        .nav__manu--4 {
            width: 170px
        }

        .button__menu {
            width: 92px;
            height: 36px;
            background: rgba(255, 255, 255, 0.42);
            border-radius: 45px;
            border-color: rgba(255, 255, 255, 0.42);
            font-size: var(--sm);
            line-height: 21px;
            transform: translateY(-520px);
            letter-spacing: -0.02em;
            color: var(--white);
            display: flex;
            justify-content: center;
            align-content: center;
            position: relative;
            right: -50%;
        }
    
        .banner {
            display: flex;

        }
    
        .banner__tittle {
            width: 450px;
            height: 210px;
            transform: translateY(-235px);
            font-style: normal;
            font-weight: 900;
            Font-size: 72px;
            line-height: 70px;
            letter-spacing: 0.002em;
            color: var(--graphite);
        }
    
        .banner_text {
            display: flex;
        }
    
        .banner__mobile1 {
            width: 155px;
            height: 323px;
            transform: translateY(-180px);
            background: url(mobile1.png);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .banner__button {
            display: none;
        }
    
        .banner__text2 {
            display: none;
        }
    
        .logos {
            transform: translateY(-180px);
            display: flex;
        }
    
        .logos1 {
            display: none;
        }
    
        .logos2 {
            display: none;
        }

        .logos__inline {
            background: url(/img-desktop-view/logos-desk.png);
        }
    }