@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
    }

    :root {
        --white: #FFFFFF; 
        --black: #000000;
        --graphite: #2E2E2E;
        --whitesmoke: #F9F9F9; 
        --sm: 18px;
        --md: 24px;
        --lg: 30px;
        --logo: 36px;
        --title: 48px;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav {
        display: flex;
        margin-top: 58px;
    }

    .nav__mobile {
        position: absolute;
        top:0;
        left: 0;
        z-index: -1;
    }

    .nav__desktop{
        display: none;
    }

    .logo {
        width: 126px;
        height: 27px;
        font-style: normal;
        font-weight: 900;
        font-size: var(--logo);
        line-height: 42px;
        letter-spacing: -0.02em;
        color: var(--white);
    }

    .nav__menu {
        display: none;
    }

    .button__menu {
        display: none;
    }

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 82px;
    }

    .banner__tittle {
        width: 305px;
        height: 135px;
        font-style: normal;
        font-weight: 900;
        Font-size: var(--title);
        line-height: 45px;
        letter-spacing: 0.005em;
        color: var(--graphite);
    }

    .banner__text {
        display: none;
    }

    .banner__mobile1 {
        width: 155px;
        height: 323px;
        background: url(mobile1.png);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 42px;
    }

    .banner__button {
        display: none;
    }

    .banner__text2 {
        display: none;
    }

    .logos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logos1 {
        width: 90%;
    }

    .logos2 {
        width: 90%;
    } 

    .logos__inline {
        display: none;
    }
    

    @media (min-width: 414px) {
        
        .header {
            display: flex;
            position: relative;
        }
    
        .nav {
            display: flex;
        }
        
        .nav__mobile {
            display: none
        }

        .nav__desktop{
            display: block;
            width: 100%;
            position: absolute;
            top:0;
            left: 0;
            z-index: -1;
        }
    
        .logo {
            width: 89px;
            height: 27px;
            font-style: normal;
            font-weight: 900s;
            font-size: var(--md);
            letter-spacing: -0.02em;
            color: var(--white);
        }
    
        .nav__menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: var(--sm);
            color: var(--white);
            margin-left: 8%;
            gap: 35px;
        }

        .button__menu {
            width: 92px;
            height: 36px;
            background: rgba(255, 255, 255, 0.42);
            border-radius: 45px;
            border: none;
            font-size: var(--sm);
            color: var(--white);
            display: block;
            font-weight: 400;
        }
    
        .banner {
            display: flex;

        }
    
        .banner__tittle {
            width: 450px;
            height: 210px;
            font-style: normal;
            font-weight: 900;
            Font-size: 72px;
            line-height: 70px;
            letter-spacing: 0.002em;
            color: var(--graphite);
            position: relative;
            left: -18%;
        }
    
        .banner_text {
            display: flex;
            width: 400px;
            height: 74px;
            position: relative;
            left: -22%;
            font-size: 20px;
        }
    
        .banner__mobile1 {
            width: 176px;
            height: 367px;
            background: url(mobile1.png);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            right: -80%;
        }
    
        .banner__button {
            display: flex;
            width: 114px;
            height: 36px;
            background-color: rgba(14, 14, 14, 0.78);
            border-radius: 45px;
        }
    
        .banner__text2 {
            display: flex;
        }
    
        .logos {
            display: flex;
        }
    
        .logos1 {
            display: none;
        }
    
        .logos2 {
            display: none;
        }

        .logos__inline {
            display: flex;
        }
    }